<li class="list-group-item<% if hidden %> hide<% end %>">
  <span class="mega-octicon octicon-git-commit commit-icon pull-left"></span>
  <button type="button" class="pull-right btn btn-default js-select-installation" data-installation-id="<%= installation[:id] %>">Select</button>
  <h4 class="list-group-item-heading"><%= installation[:account][:login] %></h4>
  <p class="list-group-item-text installation-id">
    <a href="<%= installation[:html_url] %>" title="<%= installation[:account][:login] %>" target="_blank"><%= installation[:account][:login] %></a>
  </p>
</li>
